<div class="lesson">

  <div *ngIf="lesson" class="numberBox">
    <div class="number">{{lesson.number}}</div>
  </div>

  <div class="mainInfo" *ngIf="lesson">
    <div><b>{{lesson.discipline.name}}</b></div>
    <div>
      <i *ngFor="let teacher of lesson.teachers | mapToItarable">
        {{teacher.short_name_with_degree}}
      </i>
    </div>
    <div>
      <i>
        <b>Аудитрія: </b>
        <span *ngFor="let room of lesson.rooms | mapToItarable">
          {{room.name}}
        </span>
      </i>
    </div>
  </div>

</div>
